<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="contentsDirectoryPath" value="C:\BlackDesert.Trade\Contents\Common\xml"/>
    <add key="configDirectory" value="C:\BlackDesert.Trade\Xml"/>
    <add key="logsDirectoryPath" value="C:\BlackDesert.Trade\Logs"/>
    <add key="checkAndLogPerformance" value="true"/>
    <add key="checkAndLogPerformanceCheckMs" value="1000"/>
    <add key="isLive" value="false"/>
    <add key="selfServerIP" value="127.0.0.1"/>
    <add key="logLevel" value="info"/>
    <add key="serviceProject" value="BDO"/>
    <add key="defaultCulture" value="en-US"/>
    <add key="cultureList" value="en-US"/>
    <add key="languageList" value="en"/>
    <add key="UtcTimeZoneID" value="UTC"/>
    <add key="ServiceUtcTime" value="0"/>
    <add key="isServerTime" value="true"/>
    <add key="serviceType" value="NA"/>
    <add key="doSendAlarm" value="false"/>
    <add key="maidCharacterNoList" value="18952|18959|18961|18963|18954|18956"/>
  </appSettings>
</configuration>